/NeuralNetworkTrainer/bin/
/NeuralNetworkTrainer/.settings/
/NeuralNetworkTrainer/.classpath/
/NeuralNetworkTrainer/.project/
/NeuralNetworkTrainer/.idea/
/NeuralNetworkTrainer/NeuralNetworkTrainer.iml
/NeuralNetworkTrainer/out/
/bin/
